<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lee.stumanage.dao.UserDAO">

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user(
        u_number,
        u_name,
        password,
        grade,
        telephone,
        role,
        hometown)
        values
        (
        #{number},
        #{name},
        #{password},
        #{grade},
        #{telephone},
        #{role},
        #{hometown}
        )
    </insert>

</mapper>